header{
    background: #A8E6F5;
}
.fondo{
    background: #56CBE9;
}

.imagen{
    width: 100px;
    padding: 40px;
}

h1 strong{
    font-weight: bold;
    font-size: italic;
    
}

.caja{
    background: #21A4CA;
    
    display: inline-block;
}

#texto{
    background: #F9960F;
    width: auto;
}
#textoDos{
    background: #F9960F;
    width: auto;
}

.cajaDos{
    background: #21A4CA;
    display: inline-block;
}